body {
	margin: 0;
	overflow: hidden;
}

form {
	margin: 0;
}

#radio {
	padding: 5px;
	background-color: #464646;
}

div dl.table-display {
    border-bottom: 1px solid #999999;
    border-top: 1px solid #999999;
    float: left;
    margin: 2px 0;
    padding: 3px;
    position: relative;
    width: 400px;
}

.table-display dt {
	clear: left;
	float: left;
	width: 150px;
	margin: 0;
	padding: 3px;
	font-weight: bold;
}
.table-display dd {
	float: left;
	width: 200px;
	margin: 0;
	padding: 3px;
}

.table-display-table{
	border: none;
	width:100%;
	margin: 0;
}
.table-display-table td {
	border: none;
}

#table-display-pic {
	float:right;
	vertical-align: top;
}

#tdfirst {
	/*clear: left;*/
	float: left;
	width: 140px;
	margin: 0;
	padding: 3px;
	font-weight: bold;
}

#tdsecond {
	float: left;
	width: 200px;
	margin: 0;
	padding: 3px;
}

div.container {
	width: 450px;
	font-family: sans-serif;
}
div.flag {
	margin-right: 5px;
	float: left;
}
.vesselname {
	font-weight: bold;
	font-size: 1.5em;
	margin-right: 5px;
	float: left;
}
.vessel-type {
	font-size: 12pt;
    font-weight: normal;
    margin-left: 15px;
}
div.vesseltype {
	float: left;
}

div.origin {
	float: left;
    font-size: 10pt;
    padding: 5px;
}

#centered {
/*
	position: absolute;
*/
	top: 40px;
	right: 20px
}

#centered_minInfo {
	top: 10px;
	right: 6px
	/*
	position: absolute;
	top: 15px;
	right: 20px
	*/
}

#noAISDataOverlay{
	width: 800px;
	height: 64px;
	background: rgba(255,255,255,0.5);
	margin-top: 30%;
	display: table;
}

#noAISDataOverlayText{
	font-weight: bold;
	display: table-cell;
	position: relative;
	font-size: 32px;
	color: red;
	text-align: center;
	vertical-align: middle;
}

